:host {
  .product-filters {
    position: fixed;
  }

  .product-list {
    margin-left: 25%;
    float: left;
  }

  .product-filters {
    width: 25%;
  }

  .product-list {
    width: 75%;
  }
  .pager {
    display: flex;
    justify-content: center;
  }
}
